<html>

<head>
  <title>Sklep - zmień swoje dane</title>
  <meta charset="utf-8" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/admin.css" rel="stylesheet" />
</head>

<body>

  <%- include('admin-page-nav'); %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Dodaj nowy produkt</h2>

      <%- include('product-form') %>

    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>