<html>
    <head>
        <title>Sklep</title>
        <meta charset="utf-8"/>

        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('topbar'); %>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>